footer{
    background-color: black;
    color:white;
}

.footer-content{
    padding: 2rem;

    div{
        width: 60%;
        margin: 2rem auto 0 auto;
    }
}

.social-link{
    cursor: pointer;
}


@media screen and (min-width: 62.5rem) {
    .footer-content{
        flex-direction: row;
        justify-content: space-between;

        article{
            align-items: start;
        }

        article div{
            flex-direction: row;
        }

        div{
            align-items: start;
            width: 20%;
            margin: 0;
        }
    }
}