.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    article{ 
        align-items: center;
        justify-content: space-between;
        width: 40%;
    }
}
